<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="protec.pl.protecabasvol2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/protec_logo"
        android:label="Protec ABAS"
        android:roundIcon="@mipmap/protec_logo_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".WarehouseStockTransfer"></activity>
        <activity
            android:name=".MaintenanceReportNote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Maintenance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DialogMap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyStocktakingList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Stocktaking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QualityControl"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".MoveTakeArticle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoveLeaveArticle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ArticleNameList"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".Move"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StockInformation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>