<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="protec.pl.protecabasvol2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/protec_logo"
        android:label="Protec ABAS"
        android:largeHeap="true"
        android:roundIcon="@mipmap/protec_logo_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".IncomePurchaseOrderList"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".QualityControlIncome"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".QualityControlToCheck"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".QualityControlReportNonCompliance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QualityControlProduction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WarehouseStockTransfer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MaintenanceReportNote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Maintenance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DialogMap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyStocktakingList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Stocktaking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QualityControl"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".MoveTakeArticle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoveLeaveArticle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ArticleNameList"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".Move"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StockInformation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
    </application>

</manifest>
